<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHomeworkService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12345" binding="basicHttpBinding"
      bindingConfiguration="" contract="ServiceCalculator.ICalculatorService"
      name="" />
    </client>
  </system.serviceModel>
</configuration>