<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TransactionBinding" transactionFlow="True" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:15432/test"
          binding="wsHttpBinding" bindingConfiguration="TransactionBinding"
          contract="TestingTransactionScopeWithWCF.InterfaceForTransactionScope" name="clientEndpoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
