<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="zzz" transactionFlow="true"/>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="TestingTransactionScopeWithWCF.ConcreteImplementationForTransactionScope" behaviorConfiguration="UseFaults">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:15432"/>
          </baseAddresses>
        </host>
        <endpoint address="test" 
                  binding="wsHttpBinding"
                  contract="TestingTransactionScopeWithWCF.InterfaceForTransactionScope"
                  bindingConfiguration="zzz"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UseFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>