<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <remove scheme="http"/>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
    <services>
      <service name="DefaultEndpoints.SomeService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:11221"/>
            <add baseAddress="net.tcp://localhost:22111"/>
          </baseAddresses>
        </host>
      </service>
    </services>    
  </system.serviceModel>
</configuration>