<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetadataServiceBehaviour">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:12345/mex" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetadataServiceBehaviour" name="ServiceCalculator.CalculatorService">
                <endpoint address="http://localhost:12345" binding="basicHttpBinding"
                    bindingConfiguration="" name="sum" contract="ServiceCalculator.ICalculatorService" />
                <endpoint address="http://localhost:12345/endpointmex" binding="mexHttpBinding"
                    bindingConfiguration="" name="metadata" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>