<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="NetTCP.NetOverTCP">
        <endpoint address="net.tcp://localhost/12321" binding="netTcpBinding" contract="Infrastructure.INetOverTCP"/>
      </service>
      <service name="MSMQTransportation.MSMQTransportation">
        <endpoint address="net.msmq://localhost/private/serghei" binding="netMsmqBinding" contract="Infrastructure.IMSMQTransport"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>