<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ThrowFaultExceptions">
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="NetTCP.NetOverTCP" behaviorConfiguration="ThrowFaultExceptions">
        <endpoint address="net.tcp://localhost/12321" binding="netTcpBinding" contract="Infrastructure.INetOverTCP"/>
      </service>
      <service name="MSMQTransportation.MSMQTransportation">
        <endpoint address="net.msmq://localhost/private/serghei" binding="netMsmqBinding" contract="Infrastructure.IMSMQTransport"/>
      </service>
      <service name="NamedPipes.NamedPipesTransport">
        <endpoint address="net.pipe://localhost/NamedPipe" binding="netNamedPipeBinding" contract="Infrastructure.INamedPipesTransport"/>
      </service>
      <service name="Duplex.DuplexService">
        <endpoint address="http://localhost/11122" binding="wsDualHttpBinding" contract="Infrastructure.IDuplexService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>