<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service name="MultipleEndpointsService.MultipleEndpointsService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5555"/>
          </baseAddresses>
        </host>
        <endpoint address="/merge" binding="basicHttpBinding" contract="MultipleEndpointsService.IMultipleEndpointsService"/>
        <endpoint address="net.tcp://server:8081/serghei" binding="netTcpBinding" contract="MultipleEndpointsService.IMultipleEndpointsService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>