<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="x">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:12345/mex"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MultipleEndpointsService.MultipleEndpointsService" behaviorConfiguration="x" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5555"/>
          </baseAddresses>
        </host>
        <endpoint address="/merge" binding="basicHttpBinding" contract="MultipleEndpointsService.IMultipleEndpointsService"/>
        <endpoint address="http://localhost:12345/endpointmex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>