<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMyService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloMotherfucka/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMyService"
                contract="HelloMotherfucka.IMyService" name="WSHttpBinding_IMyService">
                <identity>
                    <userPrincipalName value="adrian.boboc@fits.ro" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/HelloMotherfucka/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyService"
                contract="HelloMotherfucka.IMyService" name="BasicHttpBinding_IMyService" />
            <endpoint address="net.tcp://localhost:8081/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyService" contract="HelloMotherfucka.IMyService"
                name="NetTcpBinding_IMyService">
                <identity>
                    <userPrincipalName value="adrian.boboc@fits.ro" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>