<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEvalService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEvalService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEvalService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/HelloMotherfucka/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEvalService"
                contract="Eval.IEvalService" name="WSHttpBinding_IEvalService">
                <identity>
                    <userPrincipalName value="adrian.boboc@fits.ro" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8082/HelloMotherfucka/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalService"
                contract="Eval.IEvalService" name="BasicHttpBinding_IEvalService" />
            <endpoint address="net.tcp://localhost:8083/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEvalService" contract="Eval.IEvalService"
                name="NetTcpBinding_IEvalService">
                <identity>
                    <userPrincipalName value="adrian.boboc@fits.ro" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>