<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="VersionOne">
          <endpointDiscovery>
            <scopes>
              <add scope="http://localhost:21212/v1"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
        <behavior name="VersionTwo">
          <endpointDiscovery>
            <scopes>
              <add scope="http://localhost:12121/v2"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviorWithAnnouncement">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AdHocDiscovery.TestServiceVersionOne" behaviorConfiguration="ServiceBehaviorWithAnnouncement">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:21212"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="AdHocDiscovery.ITestService" behaviorConfiguration="VersionOne"/>
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
      <service name="AdHocDiscovery.TestServiceVersionTwo" behaviorConfiguration="ServiceBehaviorWithAnnouncement">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12121"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="AdHocDiscovery.ITestService" behaviorConfiguration="VersionTwo"/>
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
      <service name="AnnouncementListener">
        <endpoint kind="udpAnnouncementEndpoint" />
      </service>
    </services>
  </system.serviceModel>
</configuration>