<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="routingData" name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="/helloWorld" binding="wsHttpBinding" name="helloWorld" contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
        <endpoint address="/oneway" binding="basicHttpBinding" name="oneWay" contract="System.ServiceModel.Routing.ISimplexDatagramRouter"/>
        <endpoint address="/duplex" binding="wsDualHttpBinding" name="duplex" contract="System.ServiceModel.Routing.IDuplexSessionRouter"/>
      </service>
    </services>
    <routing>
      <filters>
        <filter name="HelloWorld" filterType="EndpointName" filterData ="helloWorld"/>
        <filter name="OneWay" filterType="EndpointName" filterData ="oneWay"/>
        <filter name="Duplex" filterType="EndpointName" filterData ="duplex"/>
      </filters>
      <filterTables>
        <filterTable name="routingTable">
          <add filterName="HelloWorld" endpointName="HelloWorldService"/>
          <add filterName="OneWay" endpointName="OnewayService"/>
          <add filterName="Duplex" endpointName="DuplexService"/>
        </filterTable>
      </filterTables>
    </routing>
  </system.serviceModel>
</configuration>