<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="10Seconds" duration="10" varyByHeader="Accept" varyByParam=""/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="MyService.svc" service="RESTService.SomePersons"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="RESTService.SomePersons">
        <endpoint kind="webHttpEndpoint" contract="RESTService.ISomePersons"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>